/* CSS declarations go here */

body {
  background: #EEE;
}

.container {
  margin-top: 20px;
  max-width: 1200px;
}

.btn {
  border-radius: 0;
}

.alert {
  color: #000;
  font-family: Helvetica;
  position: relative;
}

.col-lg-3 {
  height: 120px;
}

.col-lg-12 {
  padding: 0 !important;
}

.remove {
  position: absolute;
  left: 0;
  bottom: 0;
}

.edit {
  position: absolute;
  left: 70px;
  bottom: 0;
}

.checkbox-style {
  width: 32px;
  height: 32px;
  border: 1px solid #444;
  background: #888;
  position: relative;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.checked {
  opacity: 0.4;
  background: rgba(255, 0, 0, 0.5);
}
