/* CSS declarations go here */

body{
  background: #EEE;
}
.container{
  margin-top: 20px;
  max-width: 1200px;
}
.btn{
  border-radius: 0;
}
.alert{
  color: #000;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1.2em;
  position: relative;
}
.col-lg-3{
  height: 120px;

}
.col-lg-12{
  padding: 0 !important;
}
.remove{
  position: absolute;
  left: 0;
  bottom: 0;
}
.edit{
  position: absolute;
  right: 172px;
  bottom: 0;
}
